<h2>Edit Profile</h2>


<form action='/users/<%= current_user.id %>/update' method="post">
	<input type="hidden" name="authenticity_token" value='<%=form_authenticity_token%>'>
	<input type="hidden" name="_method" value='patch'>
	<input type="text" name="user[name]" value="<%= current_user.name %>">
	<input type="submit" value="Update">
</form>
<form action='/users/<%= current_user.id %>' method='post'>
	<input type="hidden" name="authenticity_token" value='<%=form_authenticity_token%>' >
	<input type="hidden" name="_method" value='delete'>
	<input type="submit" value="Delete Account">
</form>

<a href="/sessions/new">Back</a>