<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	button img{
		width: 25px;
		height: 25px;
	}
	button{
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
</style>
	<title>All Secrets</title>
</head> 
<body>
<a href="/sessions/new">Back</a>
<h1>Secrets</h1>
<hr>
		<% @secret.each do |x| %>
		<p><%= x.content %></p>
		<p><%= x.likes.count %> Likes</p>
		<% if x.users_liked.include? current_user %>
		<form action='/unlike' method='post'>
			<input type="hidden" name="authenticity_token" value='<%=form_authenticity_token%>'>
			<input type="hidden" name="secret_id" value='<%= x.id %>'>
			<button>
				<img src="<%= @emoji['-1'] %>" alt='emoji'>
			</button>

		</form>
		<% else %>
		<form action='/like' method='post'>
			<input type="hidden" name="authenticity_token" value='<%=form_authenticity_token%>'>
			<input type="hidden" name="secret_id" value='<%= x.id %>'>
			<button>
				<img src="<%= @emoji['+1'] %>" alt='emoji'>
			</button>
		</form>
		<br>
		<% end %>
		<% if current_user == x.user %>
		<form action='/secrets/<%= x.id %>' method='post'>
			<input type="hidden" name="authenticity_token" value='<%=form_authenticity_token%>'>
			<input type="hidden" name="_method" value='delete'>
			<button>
				<img src="<%= @emoji['poop'] %>" alt='emoji'>
			</button>
		</form>
		<% end %>
		<hr>
	<% end %>
</body>
</html>