
<h2>Product</h2>

<p>Name: <%= @show.name %></p>
<p>Description: <%= @show.description %></p>
<p>Price: <%= @show.price %></p>
<p>Category: <%= @show.category.name %></p>

<a href="/products/<%= @show.id %>/edit">Edit</a> | <a href="/products">Back</a>